body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: gray;
    font-size: 60px;
}

#color {
    color: tomato;
}

h2 {
    color: white;
    font-size: 35px;
}

#banner {
    background-image: url(donation12.png);
    background-repeat: no-repeat;
    height: 500px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 650;
    border-radius: 6px;
}

#tab {
    color: silver;
}

#bd {
    color: dodgerblue;
    font-size: 22px;
}

.box {
    border-radius: 20px;
    width: 40%;

    margin: 20;
    padding: 25px;
    border-radius: 6px;
    font-size: 22px;
    color: rgb(78, 88, 99);
    text-align: center;


}

#plans {
    display: flex;
    margin: auto;
    justify-content: center;

}

#first {
    color: black;
    font-size: 35px;
}

#second {
    font-size: 18px;
    color: darkcyan;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
}

#different {
    font-size: 30px;
    color: darkolivegreen;
}

#diff {
    font-size: 18px;
    color: rgb(49, 24, 24);
}

#main {
    box-shadow: 10px 10px 50px gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bdd {
    margin: 3%;
    padding: 5%;
    display: flex;
    justify-content: center;
    border-radius: 4%;

}

#aa {
    color: darkgray;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#bb {
    color: darkcyan;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Teko', sans-serif;
}

#idea {
    padding-left: 5px;
    display: flex;
}

#hesh {
    color: black;
}

email {
    background-color: rgb(138, 127, 127);
}

#subscribe {
    background-color: tomato;
}

#border {
    box-shadow: 10px 10px 50px gray;
    margin: 5%;
    border-radius: 6px;
    justify-content: center;
    padding: 120px;
}

footer {
    text-align: center;
}